nav {
    width: 100%;
    /*position: fixed;
    top: 0;
    left: 0; */
    margin-right: auto;
    color: #000;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    z-index: 10;
    border-bottom: 2px solid #d9d9d9;
}

.dark {
    background: #212ea0;
}
.logo {
    width: 200px;
}


nav li {

    display: inline-block;
    text-decoration: none;
    list-style: none;
    margin: 5px 10px;
    font-size: 20px;
    font-weight: 500;
}
.libtn {
    margin-left: auto;
}
.btn {
    display: flex;
    align-items: right;
    
    background-color: #7f57f1;
    color: #fff;
    padding: 16px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    outline: 0;
  
  }
  .btn:hover {
    background-color: #5f41b5;
  }